* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header {
    background-color: #F68247;
    height: 100px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

header .list-items {
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #ffffff;
}

header .menu {
    justify-content: space-between;
}

.presentation {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.presentation .text-presentation {
    min-height: 200px;
}

.text-presentation h1 {
    color: #F68247;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #F68247;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#who-we-are {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

#who-we-are h2 {
    font-size: 32px;
    color: #F68247;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

#who-we-are h2::before {
    content: "";
    height: 50px;
    width: 5px;
    background-color: #F68247;
    margin-right: 5px;
    position: relative;
}

#who-we-are p {
    margin-bottom: 10px;
    width: 90%;
}

#who-we-are img {
    min-width: 420px;
}

.container-external {
    background-color: #F68247;
    width: 100%;
}

#services {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#services h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-services {
    display: flex;
    justify-content: space-between;
}

.item-services {
    text-align: center;
}

.item-services p {
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
    font-size: 18px;
}

.item-services a {
    width: 220px;
    background-color: #ffffff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    text-decoration: none;
    padding: 5px 10px;
    color: #F68247;
    font-size: 12px;
    font-weight: 700;
}

.item-services img {
    width: 80%;
    margin: auto;
}

#plans {
    flex-direction: column;
    min-width: 100vh;
    padding-top: 50px;
}

#plans h2 {
    font-size: 32px;
    color: #F68247;
}

.list-plans {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plans {
    flex: 1;
    border: 5px solid #F68247;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plans .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plans h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plans h3::after {
    content: "";
    background-color: #F68247;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plans ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plans ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plans ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F68247;
    margin-right: 5px;
}